*.class
tmfnprop.lnt
a.out
spar
*.err
Makefile
check.c
config.cache
config.h
config.log
config.status
configure
constfold.c
markused.c
dist.lst
fwdregtype.c
getscopes.c
getunbounds.c
collectassigned.c
addgc.c
isgc.c
isgcsetting.c
lexer.c
lower.c
mangle.c
markfinal.c
noreturn.c
parser-tokens.h
parser.c
regtype.c
rewrite.c
runner-develop-config.sh
runner-install-config.sh
runout
spar-installed
spar_prelude.c
sparfront
spartestprog
substitute.c
svnus
tmadmin.c
tmadmin.h
tokens.h
y.output
spartest.g.v
iszero.c
ispure.c
isconstant.c
codesize.c
countrefs.c
