Makefile
autom4te.cache
config.cache
config.log
config.status
configure
dist.lst
iopar.cc
iopar.h
ioseq.cc
ioseq.h
testout
vnusstio.h
vnusstiord.cc
vnusstiort.cc
vnusstiowd.cc
vnusstiowt.cc
vnustests-t
ctests-t

